
.navigation-bar{
    display: flex;
    align-items: center;
    padding: 2em;
}

.navigation-bar-links a:hover{
    color: white;
}

.navigation-bar-links{
    margin-right: 10%;
}

.navigation-bar-links a{
    margin: 3%;
}

.navigation-bar-links:hover{
    color: white;
}

.portfolio-icon-link {
    margin-right: 10%;
    margin-left: 7em;
    color: #007FFF;
}

.portfolio-icon-link a{
    color: #007FFF;
    font-size: 1.5em;
}