@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: content-box;
}

body{
    font-family: 'Poppins', sans-serif;
    color: white;
    background-color: #1b1f25;
    width: 100%;
}
a{
    text-decoration: none;
}

#About-Me{
    background-color: #0B7A75;
}

.secondary-color{
    background-color: #0B7A75;
}

.btn{
    background-color: #0B7A75;
}
.btn:hover{
    background-color: #085551;
}