@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: content-box;
}

body{
    font-family: 'Poppins', sans-serif;
    color: white;
    background-color: #1b1f25;
    width: 100%;
}
a{
    text-decoration: none;
}

.greeting-section{
    display: flex;
    align-items: center;
}

.rounded-profile-image img{
    width: 65%;
    border-radius: 100%;
}

.bg-custom-color{
    background-color: #007FFF;
    color: white;
}

.product-card{
    align-items: center;
    background-color: #3e495a;
    border-radius: 1.5em;
    margin: 2em;
    padding: 2em;
}

.product-card a:hover{
    text-decoration: underline;
}

.learn-more-link{
    text-transform: uppercase;
    color: white;
}